@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@500&family=Nerko+One&family=Poppins:wght@200;300;500&family=Roboto:ital@1&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Poppins:wght@200;300;500&family=Roboto:ital@1&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@500&family=Hanken+Grotesk&family=Nerko+One&family=Poppins:wght@200;300;500&family=Roboto:ital@1&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@500&family=Fredoka+One&family=Hanken+Grotesk&family=Nerko+One&family=Poppins:wght@200;300;500&family=Roboto:ital@1&family=Space+Mono&display=swap');
*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
.intro h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 45px;
    color: #001253;
    margin:20px 0;
    position: relative;
    left: 50px;
    width: fit-content;
    transition: 1s;
    transform-origin: center;
    transform:scaleX(1);
    
}
.article1{
    display: flex;
    margin: 0 30px;
    justify-content:center;
    
}
#article1 p{
    display: inline-block;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    color: #06283D;
    margin:10px 40px;
    text-align:justify;
    width: 400px;
    position: relative;
    left:160px;
    bottom: 85px;
    
}
#article1 img{
    display: inline-block;
    min-height: auto;
    border-radius: 30px;
    margin-left:20px ;
    max-height:300px;
    position: relative;
    left:250px;
}
/*------------------Content Bar------------------*/
.contentbox{
    border: 3px solid #AAC4FF;
    margin: 50px 40px;
    padding: 10px 30px;
    width: fit-content;
    text-align: left;
    position: relative;
    top:50px;
    
}
.contentbox p{
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    color: #06283D;
    margin-bottom: 5px;
}
.contentbox ul{
    display:flex;
    justify-content: space-around;
    width: 700px;
}
.contentbox li{
    display: inline-block;
    padding: 3px 3px;
    
}
.contentbox a{
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 20px;
    color: #06283D;
    text-underline-offset: 5px;
    text-decoration-color: #001253;
    text-decoration-thickness: 3px;
    padding: 10px 2px;
}
/*-------------------History--------------------------*/
.history{
    padding-top: 70px;
}
.history h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 45px;
    color: #001253;
    margin:20px 0;
    position: relative;
    left: 50px;
    width: fit-content;
    transition: 1s;
    transform-origin: center;
    transform:scaleX(1);

}
.history p{
    display: flex;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    color: #06283D;
    margin:10px 40px;
    padding: 3px 30px;
    text-align:justify;
}
/*--------------characteristic----------------*/
.charac{
    padding-top: 70px;
}
.charac h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 45px;
    color: #001253;
    margin:20px 0;
    position: relative;
    left: 50px;
    width: fit-content;
    transition: 1s;
    transform-origin: center;
    transform:scaleX(1);

}
.charac p{
    display: flex;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    color: #06283D;
    margin:10px 40px;
    padding: 3px 30px;
    text-align:justify;
}
/*-----------------Appearance------------*/
.app{
    padding-top: 70px;
}
.app h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 45px;
    color: #001253;
    margin:20px 0;
    position: relative;
    left: 50px;
    width: fit-content;
    transition: 1s;
    transform-origin: center;
    transform:scaleX(1);

}
.app p{
    display: flex;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    color: #06283D;
    margin:10px 40px;
    padding: 3px 30px;
    text-align:justify;
}
/*------Pros----------------------------*/
.pros{
    padding-top: 70px;
}

.pros h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 45px;
    color: #001253;
    margin:20px 0;
    position: relative;
    left: 50px;
    width: fit-content;
    transition: 1s;
    transform-origin: center;
    transform:scaleX(1);

}
.pros p{
    display: flex;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    color: #06283D;
    margin:10px 40px;
    padding: 3px 30px;
    text-align:justify;
}
/*----------------Cons--------------------*/
.cons{
    padding-top: 70px;
}
.cons h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 45px;
    color: #001253;
    margin:20px 0;
    position: relative;
    left: 50px;
    width: fit-content;
    transition: 1s;
    transform-origin: center;
    transform:scaleX(1);
}
.cons li{
    list-style: circle;
    list-style-position: inside;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    color: #06283D;
    margin:10px 40px;
    padding: 3px 30px;
    text-align:justify;
}
/*----------------picture------------------*/
.pic{
    padding-top: 70px;

}
.pic h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 45px;
    color: #001253;
    margin:20px 0;
    position: relative;
    left: 50px;
    width: fit-content;
    transition: 1s;
    transform-origin: center;
    transform:scaleX(1);
}
#pic{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0px 10px;
    gap:5px 5px;
}
/*-------------------------video------------------------*/
.video{
    padding-top: 70px;
}
.video h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 45px;
    color: #001253;
    margin:20px 0;
    position: relative;
    left: 50px;
    width: fit-content;
    transition: 1s;
    transform-origin: center;
    transform:scaleX(1);
}
#video{
    display:flex;
    margin: 0 50px;
    padding: 0 10px;
}